name: Terraform CI/CD Pipeline

on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: read

env:
  TF_WORKING_DIR: 02-Microservices-Architecture/aws_infra/

jobs:
  terraform:
    runs-on: ubuntu-latest
    environment: production  # This ensures approval is required before apply step

  
    steps:
      - uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      # Re-run Terraform Plan here to regenerate tfplan before destroy
      - name: Terraform Init
        working-directory: ${{ env.TF_WORKING_DIR }}
        run: terraform init -input=false -no-color

      - name: Terraform Plan (again before destroy)
        working-directory: ${{ env.TF_WORKING_DIR }}
        run: terraform plan -input=false -var-file=envs/prod.tfvars -out=tfplan -no-color | tee plan_output.txt  # Generate a new tfplan

      - name: Terraform Destroy
        working-directory: ${{ env.TF_WORKING_DIR }}
        run: terraform destroy -auto-approve -var-file=envs/prod.tfvars  # Apply the destruction plan
